# -----------------------------------------------------------------------------
# Python cache files
# -----------------------------------------------------------------------------
__pycache__/

# -----------------------------------------------------------------------------
# Notebook checkpoints
# -----------------------------------------------------------------------------
.ipynb_checkpoints/

# -----------------------------------------------------------------------------
# Local virtual environment
# -----------------------------------------------------------------------------
ml-alpha-ranking-portfolio/

# -----------------------------------------------------------------------------
# Generated data and artifacts
# -----------------------------------------------------------------------------
data/
!src/data/
generated/
wandb/

# -----------------------------------------------------------------------------
# Local logs
# -----------------------------------------------------------------------------
output.log

# -----------------------------------------------------------------------------
# Operating system files
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db
